/* .wrapper {
  min-height: 100vh;
}

:global(.ant-layout-header) {
  color: #fff !important;
}

:global(.ant-layout-footer) {
  background-color: #001529 !important;
  color: #fff !important;
  flex-shrink: 0 !important;
}

.content {
  align-items: flex-start;
  flex-shrink: 1;
  width: clamp(480px, 1520px);
  margin: 0 auto;
  background-color: #fff;
}

.main {
  width: 100% !important;
}

.banner {
  width: 1320px;
  height: 488px;
}

:global(.ant-skeleton) {
  width: 100% !important;
}

:global(.ant-skeleton-image) {
  width: 100% !important;
  height: 488px !important;
}

:global(.ant-image-img) {
  height: 488px !important;
  object-fit: cover;
} */
.wrapper {
  min-height: 100vh;
}

:global(.ant-layout-header) {
  color: #fff !important;
}

.container {
  align-items: flex-start;
  flex-shrink: 1;
  width: clamp(480px, 100%, 1520px);
  margin: 0 auto;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 488px;
}

:global(.ant-skeleton) {
  width: 100% !important;
}

:global(.ant-skeleton-image) {
  width: 100% !important;
  height: 488px !important;
}

:global(.ant-image-img) {
  height: 488px !important;
  object-fit: cover;
}

:global(.ant-layout-footer) {
  background-color: #001529 !important;
  color: #fff !important;
  flex-shrink: 0 !important;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
